.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    border: 1px solid white;
    background-color: aquamarine;
    height: 200px;
    padding: 10px;
}

.footer_1 {
    flex: 3;
    background-color: yellow;
    border: 1px solid white;
    min-width: 200px;
}

.footer_2 {
    flex: 1;
    background-color: blue;
    border: 1px solid white;
    min-width: 100px;
}
